@use '../../styles/variables';

.container {
  height: 100vh;
  width: 100vw;
  background-color: variables.$cream;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .control-width {
    width: 35%;

    @media screen and (max-width: 1024px) {
      width: 80vw;
    }
  }
}